* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box; }

:root {
  --sizetabs: 453px;
  --mar-pad: 45px;
  --hnd: 100%;
  --ffh: -50%;
  --fh: 50%;
  --bo: 60px;
  --l2o: 120px;
  --z2o: 320px; }

.tabs, .better, .slider, .public__conteyner, .ftr {
  width: calc(var(--hnd) - var(--bo)); }

.body, .shadow__box, .shadow_small, .header, .heroscreen, .tabs, .better, .public__conteyner, .ftr {
  margin: 0 auto; }

.link_after::after, .burger-nav, .burger-nav__line, .nav__link, .heroscreen__button, .card__title, .slider__scroll, .public__content__data {
  display: block; }

.header__map, .header__social, .header__nav {
  display: none; }

.background__img, .header, .header__block, .header__bar, .header__contact, .header__logo__nav, .header__logo__services, .header__logo, .header__burgernav, .nav__close-wrapp, .nav__close, .heroscreen, .heroscreen__slogan, .heroscreen__bttn, .tabs__nav, .cards, .slider__img, .partners, .partners__card__logo, .public__img, .ftr__location, .ftr__contact {
  display: flex; }

.link_after, .heroscreen__button {
  position: relative; }

.link_after::after, .burger-nav__line, .nav, .nav__list, .heroscreen__button::after {
  position: absolute; }

.main, .slider, .public__card {
  overflow: hidden; }

.link__style, .tabs__links, .ftr__location__map, .ftr__contact__phone, .ftr__contact__email {
  text-decoration: none; }

.background__img, .header, .header__bar, .header__logo__nav, .heroscreen, .cards {
  justify-content: space-between; }

.partners__card__logo {
  justify-content: center; }

.header__lang__switcher, .nav__link, .heroscreen__slogan, .ftr__copyright, .ftr__copyright__text {
  text-align: center; }

.background__img, .header, .header__block, .heroscreen, .heroscreen__bttn, .partners, .ftr__location, .ftr__contact {
  flex-direction: column; }

.header, .header__contact, .header__logo__nav, .nav__close, .partners__card__logo, .ftr__location, .ftr__contact {
  align-items: center; }

.header__phone, .header__nav__link {
  text-align: right; }

.link__style, .header__lang__switcher, .header__phone, .header__nav__link, .nav__link, .heroscreen__slogan, .tabs__links, .legal__title, .better__title, .card__title, .slide__cite, .slide__name, .partners__title, .public__title, .public__content__title, .public__content__data, .ftr__location__map, .ftr__contact__phone, .ftr__contact__email {
  font-weight: 700; }

.link__style, .link_after::after, .header__lang__switcher, .header__social, .header__nav__link, .nav, .heroscreen__button, .heroscreen__button::after, .tabs__links, .ftr__contact__social, .ftr__contact__email {
  transition: all 0.3s linear; }

.header__map, .header__phone, .header__nav__link, .slide__name, .public__content__title, .ftr__location__address, .ftr__contact__phone, .ftr__contact__email, .ftr__copyright__text {
  font-size: 16px;
  line-height: 20px; }

.header .dot::after, .ftr__location__address::after, .ftr__contact__phone::before, .ftr__contact__phone::after {
  content: "";
  display: none; }
  @media screen and (min-width: 768px) {
    .header .dot::after, .ftr__location__address::after, .ftr__contact__phone::before, .ftr__contact__phone::after {
      display: inline-block;
      width: 6px;
      height: 6px;
      font-size: 16px;
      border-radius: 50%;
      margin: 3px 10px;
      background: #b3b3ba; } }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700; }
.body {
  font-family: "Montserrat"; }

.background {
  background: linear-gradient(to bottom left, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px; }
  .background_shadow {
    box-shadow: 0 45px 0 0 rgba(245, 245, 250, 0.2) inset; }
    @media screen and (min-width: 768px) {
      .background_shadow {
        box-shadow: unset; } }
  .background__img {
    background-image: url(../img/Symbol.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto var(--hnd);
    height: 100vh; }

.shadow__box {
  width: calc(var(--hnd) - 40px);
  height: 10px;
  background: #cacadb;
  border: 0;
  border-radius: 0 0 10px 10px; }
.shadow_small {
  width: calc(var(--hnd) - 80px);
  height: 10px;
  background: #e7e7f2;
  border: 0;
  border-radius: 0 0 10px 10px; }

.link__style {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff; }

.hover:hover {
  color: #f0145a; }

.social_hover:hover {
  fill: #f0145a; }

.link_after::after {
  top: 4px;
  right: -11px;
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #24a3ff;
  border-top: 2px solid #24a3ff;
  transform: rotate(45deg); }
.link_after:hover::after {
  border-right: 2px solid #f0145a;
  border-top: 2px solid #f0145a; }

.gradient_rght {
  background: linear-gradient(to right, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.gradient_lft {
  background: linear-gradient(to left, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.header {
  width: calc(var(--hnd) - 30px);
  flex-grow: 1;
  flex-basis: auto; }
  @media screen and (min-width: 768px) {
    .header {
      width: calc(var(--hnd) - var(--l2o));
      padding-top: 50px;
      flex-grow: 3; } }
  @media screen and (min-width: 1024px) {
    .header {
      flex-grow: 6; } }
  @media screen and (min-width: 1920px) {
    .header {
      width: calc(var(--hnd) - var(--z2o)); } }
  .header__block {
    width: var(--hnd); }
  @media screen and (min-width: 1024px) {
    .header__conteyner {
      display: flex;
      flex-direction: row-reverse;
      width: var(--hnd); } }
  .header__bar {
    width: var(--hnd);
    padding-top: 5px; }
    @media screen and (min-width: 768px) {
      .header__bar {
        padding-top: 0;
        justify-content: flex-start; } }
    @media screen and (min-width: 1024px) {
      .header__bar {
        height: 24px;
        justify-content: flex-end; } }
  .header__lang {
    padding: 10px 0; }
    @media screen and (min-width: 1024px) {
      .header__lang {
        padding: 0;
        display: flex;
        align-items: center; } }
    .header__lang__switcher {
      width: 33px;
      height: 25px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      color: #fff;
      padding: 5px 7px;
      border-radius: 7px; }
    .header__lang__switcher:hover {
      background-color: #f0145a; }
  .header__map {
    color: #b3b3ba; }
    @media screen and (min-width: 768px) {
      .header__map {
        display: inline-block; } }
  .header__phone {
    color: #fff; }
  @media screen and (min-width: 768px) {
    .header__social {
      display: inline-block; } }
  @media screen and (min-width: 768px) {
    .header__nav {
      display: flex; } }
  @media screen and (min-width: 1024px) {
    .header__nav {
      justify-content: flex-end; } }
  .header__nav__link {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0); }
    .header__nav__link + .header__nav__link {
      margin-left: 15px; }
  .header__nav__link:hover {
    border-bottom: 2px solid #f0145a;
    color: #f0145a; }
  .header__logo__nav {
    width: var(--hnd);
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .header__logo__nav {
        width: calc(var(--hnd) - 210px);
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0; } }
  .header__logo {
    width: 69px;
    height: 32px; }
    .header__logo__services {
      align-items: flex-start; }
      @media screen and (min-width: 768px) {
        .header__logo__services {
          margin: 30px 0; } }
      @media screen and (min-width: 1024px) {
        .header__logo__services {
          margin: 0; } }
    @media screen and (min-width: 768px) {
      .header__logo {
        width: 130px;
        height: 60px; } }
    @media screen and (min-width: 1024px) {
      .header__logo {
        width: var(--hnd);
        height: 38px; } }
  .header__slash {
    margin: 0 4px; }
    @media screen and (min-width: 768px) {
      .header__slash {
        width: 21px;
        height: 47px; } }
  .header__services {
    font-size: 20px;
    line-height: 24px;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .header__services {
        font-size: 36px;
        line-height: 44px; } }
  .header__burgernav {
    width: var(--hnd);
    justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      .header__burgernav {
        display: none; } }

@media screen and (min-width: 1024px) {
  .logo__size {
    display: flex;
    width: 130px;
    height: 60px; } }

.style__link {
  text-decoration: none;
  cursor: pointer; }

.checkbox {
  display: none; }

.burger-nav {
  width: 32px;
  height: 32px;
  position: relative; }
  .burger-nav__line {
    width: 18px;
    height: 2px;
    background-color: #fff;
    top: var(--fh);
    left: var(--fh);
    transform: translate(var(--ffh), var(--ffh)); }
    .burger-nav__line:first-child {
      transform: translate(var(--ffh), calc(var(--ffh) - 5px)); }
    .burger-nav__line:last-child {
      transform: translate(var(--ffh), calc(var(--ffh) + 5px)); }

.nav {
  width: var(--hnd);
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(50, 50, 100, 0.7);
  padding: 0 8px; }
  .nav__list {
    width: calc(var(--hnd) - 16px);
    bottom: 0;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    padding: 12px;
    list-style-type: none; }
  .nav__item + .nav__item {
    margin-top: 15px; }
  .nav__link {
    padding: 7px 0;
    font-size: 24px;
    line-height: 29px;
    color: #24a3ff;
    width: var(--hnd);
    background: #f5f5fa;
    border-radius: 12px;
    text-decoration: none; }
  .nav__close-wrapp {
    justify-content: flex-end;
    margin-bottom: 20px; }
  .nav__close {
    justify-content: center;
    width: 32px;
    height: 32px; }

#burger-toggle:checked ~ .nav {
  opacity: 1;
  visibility: visible; }

.heroscreen {
  width: calc(var(--hnd) - 30px);
  flex-basis: 100px;
  flex-grow: 2; }
  @media screen and (min-width: 768px) {
    .heroscreen {
      width: calc(var(--hnd) - var(--z2o));
      flex-grow: 5; } }
  @media screen and (min-width: 1024px) {
    .heroscreen {
      flex-grow: 7; } }
  .heroscreen__slogan {
    justify-content: center;
    width: var(--hnd);
    font-size: 38px;
    line-height: 46px;
    color: #fff;
    margin: 0; }
    @media screen and (min-width: 1024px) {
      .heroscreen__slogan {
        flex-grow: 8;
        margin: 0; } }
  .heroscreen__bttn {
    flex-grow: 1;
    justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      .heroscreen__bttn {
        flex-grow: 3; } }
    @media screen and (min-width: 1024px) {
      .heroscreen__bttn {
        flex-grow: 9; } }
  .heroscreen__button {
    margin: 0 auto 30px;
    width: 42px;
    height: 42px;
    background-color: #323264;
    border: 2px solid #9999b2;
    border-radius: var(--fh);
    cursor: pointer; }
  .heroscreen__button::after {
    top: 8px;
    left: 12px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg); }
  .heroscreen__button:hover::after {
    border-right: 2px solid #f0145a;
    border-bottom: 2px solid #f0145a; }
  .heroscreen__button:hover {
    border: 2px solid rgba(240, 20, 90, 0.5); }

.main {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .main {
      padding-top: 60px; } }

@media screen and (min-width: 768px) {
  .tabs {
    width: calc(var(--hnd) - var(--l2o));
    margin: 60px auto; } }
@media screen and (min-width: 1024px) {
  .tabs {
    display: flex;
    height: 303px;
    align-items: center; } }
@media screen and (min-width: 1440px) {
  .tabs {
    width: calc(var(--hnd)- 360px); } }
@media screen and (min-width: 1920px) {
  .tabs {
    width: calc(var(--hnd) - 560px); } }
.tabs__nav {
  overflow: auto; }
  @media screen and (min-width: 1024px) {
    .tabs__nav {
      width: 453px;
      height: var(--hnd);
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      border-right: 4px solid rgba(255, 255, 255, 0.3); } }
.tabs__links {
  font-size: 30px;
  line-height: 37px;
  color: #b3b3ba;
  margin: 30px 0;
  white-space: nowrap; }
  @media screen and (min-width: 768px) {
    .tabs__links {
      font-size: 38px;
      line-height: 46px;
      margin: 60px 0; } }
  @media screen and (min-width: 1024px) {
    .tabs__links {
      margin: 0 var(--mar-pad) 0 0;
      display: flex; } }
.tabs__links + .tabs__links {
  margin-left: 30px; }

.legal {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  padding: 30px 0; }
  @media screen and (min-width: 768px) {
    .legal {
      padding: 60px 0; } }
  @media screen and (min-width: 1024px) {
    .legal {
      width: calc(var(--hnd) - var(--sizetabs));
      border-top: 0;
      padding: 0 0 0 var(--mar-pad); } }
  .legal__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .legal__title {
        font-size: 30px;
        line-height: 37px;
        margin-top: 0; } }
  .legal__text {
    font-size: 19px;
    line-height: 30px;
    color: #fff; }

@media screen and (min-width: 768px) {
  .better {
    width: calc(var(--hnd) - var(--l2o)); } }
@media screen and (min-width: 1920px) {
  .better {
    width: calc(var(--hnd) - var(--z2o)); } }
.better__title {
  font-size: 30px;
  line-height: 37px;
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .better__title {
      font-size: 38px;
      line-height: 36px; } }

.cards {
  flex-wrap: wrap; }

.card {
  margin-top: 30px; }
  @media screen and (min-width: 768px) {
    .card {
      width: calc((100% - 60px) / 2);
      margin-top: 60px; } }
  @media screen and (min-width: 1024px) {
    .card {
      width: calc((100% - 120px) / 3); } }
  .card__img {
    width: 92px;
    height: 92px;
    border-radius: 24px;
    padding: 14px;
    margin-bottom: 30px;
    background-color: #fff; }
  .card__title {
    font-size: 22px;
    line-height: 27px;
    text-transform: none; }
  .card__text {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 15px; }

.slider {
  margin: 30px auto 0;
  border-radius: 12px; }
  @media screen and (min-width: 768px) {
    .slider {
      width: calc(var(--hnd) - var(--l2o));
      margin: 80px auto 0; } }
  @media screen and (min-width: 1024px) {
    .slider {
      display: flex; } }
  @media screen and (min-width: 1920px) {
    .slider {
      width: calc(var(--hnd) - var(--z2o)); } }
  .slider__img {
    background-image: url(../img/Alexander.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: var(--hnd);
    height: 500px; }
    @media screen and (min-width: 560px) {
      .slider__img {
        background-size: 100% auto; } }
    @media screen and (min-width: 1024px) {
      .slider__img {
        width: 400px;
        height: inherit;
        background-size: auto 100%; } }
    @media screen and (min-width: 1184px) {
      .slider__img {
        background-size: 100% auto; } }
  .slider__scroll {
    margin: 30px auto; }

.slide {
  background: #f5f5fa;
  padding: 30px; }
  @media screen and (min-width: 1024px) {
    .slide {
      width: calc(var(--hnd) - 400px); } }
  .slide__cite {
    margin-top: 5px;
    font-size: 30px;
    line-height: 37px;
    word-wrap: break-word; }
    @media screen and (min-width: 768px) {
      .slide__cite {
        font-size: 38px;
        line-height: 46px; } }
  .slide__name {
    color: #b3b3ba;
    margin: 30px 0 6px; }
  .slide__post {
    font-size: 14px;
    line-height: 22px;
    color: #b3b3ba; }

.partners {
  width: var(--hnd); }
  .partners_padding {
    padding-top: 30px; }
  .partners__title {
    margin: 30px auto;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264; }
  @media screen and (min-width: 1920px) {
    .partners {
      width: calc(var(--hnd) - 200px);
      margin: 0 auto;
      padding-bottom: 60px; } }
  @media screen and (min-width: 768px) {
    .partners__card {
      display: flex;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1920px) {
    .partners__card {
      border-radius: 12px;
      overflow: hidden; } }
  .partners__card__logo {
    width: var(--hnd);
    height: 120px;
    border: 0;
    background: #1c4280; }
    @media screen and (min-width: 768px) {
      .partners__card__logo {
        width: calc(var(--hnd) / 3); } }
    @media screen and (min-width: 1024px) {
      .partners__card__logo {
        width: calc(var(--hnd) / 4); } }
  .partners__card__logo:nth-child(2) {
    background: #143646; }
  .partners__card__logo:nth-child(3) {
    background: #f48b30; }
  .partners__card__logo:nth-child(4) {
    background: #9e4dc3; }
  .partners__card__logo:nth-child(5) {
    background: #fd9339; }
  .partners__card__logo:nth-child(6) {
    background: #e2e2e4; }
  .partners__card__logo:nth-child(7) {
    background: #c71c36; }
  .partners__card__logo:nth-child(8) {
    background: #dcf3f9; }
  .partners__card__logo:nth-child(9) {
    background: #eaeaea; }
  .partners__card__logo:nth-child(10) {
    background: #282240; }
  .partners__card__logo:nth-child(11) {
    background: #1d4568; }
  .partners__card__logo:nth-child(12) {
    background: #000; }

.partners__none {
  display: none; }
  @media screen and (min-width: 768px) {
    .partners__none {
      display: flex; } }

.public {
  width: var(--hnd);
  background: #f5f5fa; }
  .public__title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 5px; }
    @media screen and (min-width: 768px) {
      .public__title {
        font-size: 38px;
        line-height: 46px;
        margin-top: 10px; } }
  .public__conteyner {
    padding: 30px 0; }
    @media screen and (min-width: 768px) {
      .public__conteyner {
        width: calc(var(--hnd) - var(--l2o)); } }
    @media screen and (min-width: 1920px) {
      .public__conteyner {
        width: calc(var(--hnd) - var(--z2o)); } }
  @media screen and (min-width: 768px) {
    .public__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .public__cards {
      width: var(--hnd);
      justify-content: space-between; } }

  .public__card {
    width: var(--hnd);
    margin: 30px auto 0;
    background-color: #fff;
    border-radius: 8px; }
    @media screen and (min-width: 768px) {
      .public__card {
        width: calc((var(--hnd) - 30px) / 2);
        margin: 0; } }
    @media screen and (min-width: 1024px) {
      .public__card {
        width: calc((var(--hnd) - 60px) / 3); } }
  .public__img {
    width: var(--hnd);
    height: 200px; }
    .public__img__size {
      width: var(--hnd);
      object-fit: cover; }
  .public__content__title {
    color: #24a3ff;
    margin: 30px 30px 0; }
  .public__content__data {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b3b3ba;
    margin: 15px 30px; }
  .public__content__text {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    border-top: 4px solid #e6e6f0;
    margin: 0 30px 30px;
    padding-top: 15px; }

@media screen and (min-width: 768px) {
  .long_size {
    width: var(--hnd);
    margin-top: 30px; } }
@media screen and (min-width: 1024px) {
  .long_size {
    width: calc(((var(--hnd) - 60px) / 3) - 30px);
    margin-top: 0; } }

footer {
  background-color: #f5f5fa; }

.ftr {
  padding: 30px 0;
  border-top: 2px solid #e6e6f0; }
  @media screen and (min-width: 768px) {
    .ftr {
      width: calc(var(--hnd) - var(--l2o));
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media screen and (min-width: 1920px) {
    .ftr {
      width: calc(var(--hnd) - var(--z2o)); } }
  @media screen and (min-width: 768px) {
    .ftr__location {
      flex-direction: row;
      align-items: baseline; } }
  @media screen and (min-width: 1024px) {
    .ftr__location {
      width: calc((var(--hnd) - 120px) / 2);
      flex-grow: 1; } }
  .ftr__location__address {
    color: #323264; }
  .ftr__location__map {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .ftr__location__map {
        margin-top: 0; } }
  .ftr__contact {
    margin-top: 21px; }
    @media screen and (min-width: 768px) {
      .ftr__contact {
        flex-direction: row;
        align-items: center;
        order: 3; } }
    .ftr__contact__phone {
      color: #46466e;
      margin: 10px auto; }
      @media screen and (min-width: 768px) {
        .ftr__contact__phone {
          margin: 0; } }
    .ftr__contact__email {
      color: #24a3ff; }
  .ftr__copyright {
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .ftr__copyright {
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .ftr__copyright {
        width: calc((var(--hnd) - 120px) / 2);
        display: flex;
        justify-content: flex-end; } }
    .ftr__copyright__text {
      color: #b3b3ba; }

@media screen and (min-width: 768px) {
  .ftr_services {
    width: calc(var(--hnd) - 370px); } }
@media screen and (min-width: 1024px) {
  .ftr_services {
    width: calc(var(--hnd) - var(--l2o)); } }
@media screen and (min-width: 1920px) {
  .ftr_services {
    width: calc(var(--hnd) - var(--z2o)); } }

@media screen and (min-width: 768px) {
  .ftr_contact {
    order: 0; } }
@media screen and (min-width: 1024px) {
  .ftr_contact {
    order: 3; } }

@media screen and (min-width: 768px) {
  .ftr_copyright {
    margin: 30px auto 0; } }
@media screen and (min-width: 1024px) {
  .ftr_copyright {
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
