.better {
  @extend %wid60;
  @extend %m0a;
  @media screen and (min-width: 768px) {
    @include wid120;
  }
  @media screen and (min-width: 1920px) {
    @include wid320;
  }
  &__title {
    @extend %fw;
    @include fs-hl(30px, 37px);
    margin-top: 10px;
    @media screen and (min-width: 768px) {
     @include fs-hl(38px, 36px);
    }
  }
}
.cards {
  @extend %df;
  flex-wrap: wrap;
  @extend %j-c_s-b;
}
.card {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-top: 60px;
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 120px) / 3);
  }
  &__img {
    @include size(92px, 92px);
    border-radius: 24px;
    padding: 14px;
    margin-bottom: 30px;
    background-color: $wh;
  }
  &__title {
    @extend %db;
    @extend %fw;
    @include fs-hl(22px, 27px);
    text-transform: none;
  }
  &__text {
    @include fs-hl(16px, 26px);
    color: $wh;
    margin-top: 15px;
  }
}