.checkbox {
  display: none;
}
.burger-nav {
  @extend %db;
  @include size(32px, 32px);
  position: relative;
  &__line {
    @extend %db;
    @extend %pa;
    @include size(18px, 2px);
    background-color: $wh;
    top: var(--fh);
    left: var(--fh);
    transform: translate(var(--ffh), var(--ffh));
    &:first-child {
      transform: translate(var(--ffh), calc(var(--ffh) - 5px));
    }
    &:last-child {
      transform: translate(var(--ffh), calc(var(--ffh) + 5px));
    }
  }
}
.nav {
  @include size(var(--hnd), 100vh);
  @extend %pa;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  @extend %transition;
  background-color: rgba(50, 50, 100, 0.7);
  padding: 0 8px;
  &__list {
    @extend %pa;
    width: calc(var(--hnd) - 16px);
    bottom: 0;
    background: $wh;
    border-radius: 12px 12px 0px 0px;
    padding: 12px;
    list-style-type: none;
  }
  &__item {
    & + .nav__item {
      margin-top: 15px;
    }
  }
  &__link {
    @extend %db;
    padding: 7px 0;
    @extend %fw;
    @include fs-hl(24px, 29px);
    @extend %t-a_c;
    color: #24a3ff;
    width: var(--hnd);
    background: #f5f5fa;
    border-radius: 12px;
    text-decoration: none;
  }
  &__close-wrapp {
    @extend %df;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  &__close {
    @extend %df;
    justify-content: center;
    @extend %a-i_c;
    @include size(32px, 32px);
  }
}
#burger-toggle:checked ~ .nav {
  opacity: 1;
  visibility: visible;
}
