.header {
  width: calc(var(--hnd) - 30px);
  @extend %m0a;
  flex-grow: 1;
  @extend %df;
  @extend %f-d_c;
  @extend %j-c_s-b;
  @extend %a-i_c;
  flex-basis: auto;
  @media screen and (min-width: 768px) {
    @include wid120;
    padding-top: 50px;
    flex-grow: 3;
  }
  @media screen and (min-width: 1024px) {
    flex-grow: 6;
  }
  @media screen and (min-width: 1920px) {
    @include wid320;
  }
  &__block {
    @extend %df;
    @extend %f-d_c;
    width: var(--hnd);
  }
  &__conteyner {
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
      width: var(--hnd);
    }
  }
  &__bar {
    width: var(--hnd);
    @extend %df;
    @extend %j-c_s-b;
    padding-top: 5px;
    @media screen and (min-width: 768px) {
      padding-top: 0;
      justify-content: flex-start;
    }
    @media screen and (min-width: 1024px) {
      height: 24px;
      justify-content: flex-end;
    }
  }
  &__lang {
    padding: 10px 0;
    @media screen and (min-width: 1024px) {
      padding: 0;
      display: flex;
      align-items: center;
    }
    &__switcher {
      @include size(33px, 25px);
      @extend %fw;
      @include fs-hl(12px, 15px);
      @extend %t-a_c;
      letter-spacing: 1px;
      color: $wh;
      padding: 5px 7px;
      border-radius: 7px;
      @extend %transition;
    }
    &__switcher:hover {
      background-color: $red;
    }
  }
  &__contact {
    @extend %df;
    @extend %a-i_c;
    @media screen and (min-width: 768px) {
    }
  }
  &__map {
    @extend %dn;
    @extend %fs-lh;
    color: #b3b3ba;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  .dot::after {
    @extend %after;
  }
  &__phone {
    @extend %fw;
    @extend %fs-lh;
    @extend %t-a_r;
    color: $wh;
  }
  &__social {
    @extend %dn;
    @extend %transition;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  &__nav {
    @extend %dn;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1024px) {
      justify-content: flex-end;
    }
    &__link {
      @extend %fw;
      @extend %fs-lh;
      @extend %t-a_r;
      color: $wh;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      @extend %transition;
      & + & {
        margin-left: 15px;
      }
    }
    &__link:hover {
      border-bottom: 2px solid $red;
      color: $red;
    }
  }
  &__logo__nav {
    width: var(--hnd);
    @extend %df;
    @extend %j-c_s-b;
    @extend %a-i_c;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      width: calc(var(--hnd) - 210px);
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
    }
  }
  &__logo {
    &__services {
      @extend %df;
      align-items: flex-start;
      @media screen and (min-width: 768px) {
        margin: 30px 0;
      }
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }
    @include size(69px, 32px);
    @extend %df;

    @media screen and (min-width: 768px) {
      @include size(130px, 60px);
    }
    @media screen and (min-width: 1024px) {
      @include size(var(--hnd), 38px);
    }
  }
  &__slash {
    margin: 0 4px;
    @media screen and (min-width: 768px) {
      @include size(21px, 47px);
    }
  }
  &__services {
    @include fs-hl(20px, 24px);
    color: $wh;
    @media screen and (min-width: 768px) {
      @include fs-hl(36px, 44px);
    }
  }
  &__burgernav {
    width: var(--hnd);
    @extend %df;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.logo__size {
  @media screen and (min-width: 1024px) {
    display: flex;
    @include size(130px, 60px);
  }
}
.style__link {
  text-decoration: none;
  cursor: pointer;
}
@import "./burgernav";
