.heroscreen {
  width: calc(var(--hnd) - 30px);
  @extend %m0a;
  @extend %df;
  @extend %f-d_c;
  @extend %j-c_s-b;
  flex-basis: 100px;
  flex-grow: 2;
  @media screen and (min-width: 768px) {
    @include wid320;
    flex-grow: 5;
  }
  @media screen and (min-width: 1024px) {
    flex-grow: 7;
  }
  &__slogan {
    @extend %df;
    justify-content: center;
    width: var(--hnd);
    @extend %fw;
    @include fs-hl(38px, 46px);
    @extend %t-a_c;
    color: $wh;
    margin: 0;
    // @media screen and (min-width: 768px) {
    //   justify-content: center;
    // }
    @media screen and (min-width: 1024px) {
      flex-grow: 8;
      margin: 0;
    }
  }
  &__bttn {
    @extend %df;
    @extend %f-d_c;
    flex-grow: 1;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
      flex-grow: 3;
    }
    @media screen and (min-width: 1024px) {
      flex-grow: 9;
    }
  }
  &__button {
    @extend %db;
    margin: 0 auto 30px;
    @include size(42px, 42px);
    background-color: #323264;
    border: 2px solid #9999b2;
    border-radius: var(--fh);
    @extend %transition;
  }
  &__button:hover {
    border: 2px solid rgba(240, 20, 90, 0.5);
    stroke: $red;
  }
}
