.public {
  width: var(--hnd);
  background: $gwh;
  &__title {
    @extend %fw;
    @include fs-hl(30px, 37px);
    margin-top: 5px;
    @media screen and (min-width: 768px) {
      @include fs-hl(38px, 46px);
      margin-top: 10px;
    }
  }
  &__conteyner {
    @extend %wid60;
    @extend %m0a;
    padding: 30px 0;
    @media screen and (min-width: 768px) {
      @include wid120;
    }
    @media screen and (min-width: 1920px) {
      @include wid320;
    }
  }
  &__cards {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
      @media screen and (min-width: 1024px) {
        width: var(--hnd);
        justify-content: space-between;
      }
    }
  }
  &__card {
    width: var(--hnd);
    margin: 30px auto 0;
    @extend %o_h;
    background-color: $wh;
    border-radius: 8px;
    @media screen and (min-width: 768px) {
      width: calc((var(--hnd) - 30px) / 2);
      margin: 0;
    }
    @media screen and (min-width: 1024px) {
      width: calc((var(--hnd) - 60px) / 3);
    }
  }
  &__img {
    @extend %df;
    @include size(var(--hnd), 200px);
    &__size {
      width: var(--hnd);
      object-fit: cover;
    }
  }
  &__content {
    &__title {
      @extend %fw;
      @extend %fs-lh;
      color: $blue;
      margin: 30px 30px 0;
    }
    &__data {
      @extend %db;
      @extend %fw;
      @include fs-hl(12px, 15px);
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $grey;
      margin: 15px 30px;
    }
    &__text {
      @include fs-hl(14px, 22px);
      color: $black;
      border-top: 4px solid $igr;
      margin: 0 30px 30px;
      padding-top: 15px;
    }
  }
}
.long_size {
  @media screen and (min-width: 768px) {
    width: var(--hnd);
    margin-top: 30px;
  }
  @media screen and (min-width: 1024px) {
    width: calc(((var(--hnd) - 60px) / 3) - 30px);
    margin-top: 0;
  }
}
