.tabs {
  @extend %wid60;
  @extend %m0a;
  @media screen and (min-width: 768px) {
    @include wid120;
    margin: 60px auto;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    height: 303px;
    align-items: center;
  }
  @media screen and (min-width: 1440px) {
    width: calc(var(--hnd)- 360px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(var(--hnd) - 560px);
  }
  &__nav {
    @extend %df;
    overflow: auto;
    @media screen and (min-width: 1024px) {
      @include size(453px, var(--hnd));
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      border-right: 4px solid rgba(255, 255, 255, 0.3);
    }
  }
  &__links {
    @extend %fw;
    @include fs-hl(30px, 37px);
    color: $grey;
    margin: 30px 0;
    @extend %t-d_n;
    @extend %transition;
    white-space: nowrap;
    @media screen and (min-width: 768px) {
      @include fs-hl(38px, 46px);
      margin: 60px 0;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 var(--mar-pad) 0 0;
      display: flex;
    }
  }
  &__links + &__links {
    margin-left: 30px;
  }
}

.legal {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1024px) {
    width: calc(var(--hnd) - var(--sizetabs));
    border-top: 0;
    padding: 0 0 0 var(--mar-pad);
  }
  &__title {
    margin-bottom: 30px;
    @extend %fw;
    @include fs-hl(20px, 24px);
    color: $wh;
    @media screen and (min-width: 768px) {
      @include fs-hl(30px, 37px);
      margin-top: 0;
    }
  }
  &__text {
    @include fs-hl(19px, 30px);
    color: $wh;
  }
}
