* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}
@import "./preprocesses";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
.body {
  @extend %m0a;
  font-family: "Montserrat";
}
.background {
  background: linear-gradient(
    to bottom left,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
  &_shadow {
    box-shadow: 0 45px 0 0 rgba(245, 245, 250, 0.2) inset;
    @media screen and (min-width: 768px) {
      box-shadow: unset;
    }
  }
  &__img {
    background-image: url(../img/Symbol.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto var(--hnd);
    height: 100vh;
    @extend %df;
    @extend %f-d_c;
    @extend %j-c_s-b;

    @media screen and (min-width: 1024px) {
    }
  }
}
.shadow {
  &__box {
    @include shadow(calc(var(--hnd) - 40px), #cacadb);
  }
  &_small {
    @include shadow(calc(var(--hnd) - 80px), #e7e7f2);
  }
}
.link__link {
  @extend %fw;
  @include fs-hl(14px, 17px);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $blue;
  @extend %t-d_n;
}
.hover {
  &:hover {
    color: $red;
  }
}
.social_hover:hover {
  fill: $red;
}
.gradient_rght {
  @include gradient(right);
}
.gradient_lft {
  @include gradient(left);
}
@import "./header";
@import "./heroscreen";
.main {
  @extend %o_h;
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
@import "./tabs";
@import "./better";
@import "./slider";
@import "./partners";
@import "./public";
@import "./footer";
