* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}
:root {
  --sizetabs: 453px;
  --mar-pad: 45px;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
$f: 100%;
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
.body {
  margin: 0 auto;
  font-family: "Montserrat";
}
.background {
  background: linear-gradient(
    to bottom left,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 20px 0 -10px #cacadb, 0 40px 0 -20px #e7e7f2;

  &__img {
    background-image: url(../img/Symbol.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto $f;
    height: 100vh;
    box-shadow: 0 45px 0 0 rgba(245, 245, 250, 0.2) inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      box-shadow: unset;
    }
    @media screen and (min-width: 1024px) {
    }
  }
}
@import "./header";
@import "./heroscreen";
main {
  overflow: hidden;
}

.tabs {
  width: calc(100% - 60px);
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
    margin: 60px auto;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    height: 303px;
    align-items: center;
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 360px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 560px);
  }
  &__nav {
    display: flex;
    overflow: auto;
    @media screen and (min-width: 1024px) {
      width: 453px;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      border-right: 4px solid rgba(255, 255, 255, 0.3);
    }
  }
  &__links {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #b3b3ba;
    margin: 30px 0;
    text-decoration: none;
    transition: all 0.3s linear;
    white-space: nowrap;
    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 46px;
      margin: 60px 0;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 var(--mar-pad) 0 0;
      display: flex;
    }
  }
  &__links:hover {
    color: #f0145a;
  }
  &__links + &__links {
    margin-left: 30px;
  }
}
.gradient_rght {
  background: linear-gradient(to right, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient_lft {
  background: linear-gradient(to left, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.legal {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% - var(--sizetabs));
    border-top: 0;
    padding: 0 0 0 var(--mar-pad);
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    @media screen and (min-width: 768px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: 0;
    }
  }
  &__text {
    font-size: 19px;
    line-height: 30px;
    color: #fff;
  }
}
.better {
  width: calc(100% - 60px);
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 320px);
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    text-decoration: none;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-top: 10px;
    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 36px;
    }
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-top: 60px;
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 120px) / 3);
  }
  &__img {
    width: 92px;
    height: 92px;
    border-radius: 24px;
    padding: 14px;
    margin-bottom: 30px;
    background-color: #fff;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24a3ff;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 15px;
  }
}
.slider {
  width: calc(100% - 60px);
  margin: 50px auto 0;
  overflow: hidden;
  border-radius: 12px;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
    margin: 80px auto 0;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 320px);
  }
  &__img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @media screen and (min-width: 560px) {
      width: 100%;
      height: 500px;
      align-items: center;
    }
    @media screen and (min-width: 1024px) {
      width: 400px;
      height: 502px;
    }
    @media screen and (min-width: 1440px) {
      width: 400px;
      height: 344px;
    }
  }
  &__scroll {
    display: block;
    margin: 30px auto;
  }
}
.img__size {
  @media screen and (min-width: 560px) {
    width: calc(100% + 80px);
  }
  @media screen and (min-width: 768px) {
    width: calc(100% + 148px);
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% + 148px);
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% + 28px);
  }
}
.slide {
  background: #f5f5fa;
  padding: 30px;

  @media screen and (min-width: 1024px) {
    width: calc(100% - 400px);
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    text-decoration: none;
  }
  &__cite {
    margin-top: 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    word-wrap: break-word;
    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 46px;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #b3b3ba;
    margin: 30px 0 6px;
  }
  &__post {
    font-size: 14px;
    line-height: 22px;
    color: #b3b3ba;
  }
}
.partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 30px auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 200px);
    margin: 0 auto;
    padding-bottom: 60px;
  }
  &__card {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1920px) {
      border-radius: 12px;
      overflow: hidden;
    }
    &__logo {
      width: 100%;
      height: 120px;
      display: flex;
      border: 0;
      justify-content: center;
      align-items: center;
      background: #1c4280;
      @media screen and (min-width: 768px) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: 1024px) {
        width: calc(100% / 4);
      }
    }
    &__logo:nth-child(2) {
      background: #143646;
    }
    &__logo:nth-child(3) {
      background: #f48b30;
    }
    &__logo:nth-child(4) {
      background: #9e4dc3;
    }
    &__logo:nth-child(5) {
      background: #fd9339;
    }
    &__logo:nth-child(6) {
      background: #e2e2e4;
    }
    &__logo:nth-child(7) {
      background: #c71c36;
    }
    &__logo:nth-child(8) {
      background: #dcf3f9;
    }
    &__logo:nth-child(9) {
      background: #eaeaea;
    }
    &__logo:nth-child(10) {
      background: #282240;
    }
    &__logo:nth-child(11) {
      background: #1d4568;
    }
    &__logo:nth-child(12) {
      background: #000;
    }
  }
}
.phone__none {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.public {
  width: 100%;
  background: #f5f5fa;

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    text-decoration: none;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-top: 5px;
    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 46px;
      margin-top: 10px;
    }
  }
  &__cardconteyner {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
      @media screen and (min-width: 1024px) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  &__card {
    width: 100%;
    margin: 30px auto 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      margin: 0;
    }
    @media screen and (min-width: 1024px) {
      width: calc((100% - 60px) / 3);
    }
    &__img {
      display: flex;
      justify-content: center;
      @media screen and (min-width: 375px) {
        width: 100%;
        height: 200px;
        overflow: hidden;
        align-items: center;
      }
      &__size {
        width: 100%;
        height: 100%;
        @media screen and (min-width: 375px) {
          width: 708px;
          height: 425px;
        }
        @media screen and (min-width: 768px) {
          width: 309px;
          height: 185px;
        }
        @media screen and (min-width: 770px) {
          width: 437px;
          height: 262px;
        }
        @media screen and (min-width: 1024px) {
          width: calc(500px * 200px / 300px);
          height: 200px;
        }
        @media screen and (min-width: 1025px) {
          width: 580px;
          height: 348px;
        }
        @media screen and (min-width: 1920px) {
          width: 513px;
          height: 308px;
        }
      }
    }
    &__content {
      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24a3ff;
        margin: 30px 30px 0;
      }
      &__data {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #b3b3ba;
        margin: 15px 30px;
      }
      &__text {
        font-size: 14px;
        line-height: 22px;
        color: #000;
        border-top: 4px solid #e6e6f0;
        margin: 0 30px 30px;
        padding-top: 15px;
      }
    }
  }
}
.public__conteyner {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 320px);
  }
}
.long_size {
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-top: 30px;
  }
  @media screen and (min-width: 1024px) {
    width: calc(((100% -60px) / 3) - 30px);
    margin-top: 0;
  }
}
.long__img {
  @media screen and (min-width: 375px) {
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
}
.public__img__size {
  @media screen and (min-width: 375px) {
    width: 708px;
    height: 425px;
  }
  @media screen and (min-width: 769px) {
    width: 904px;
    height: 542px;
  }
  @media screen and (min-width: 1024px) {
    width: calc(500px * 200px / 300px);
    height: 200px;
  }
  @media screen and (min-width: 1025px) {
    width: 580px;
    height: 348px;
  }
  @media screen and (min-width: 1920px) {
    width: 513px;
    height: 308px;
  }
}
footer {
  background-color: #f5f5fa;
}
.ftr {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 30px 0;
  border-top: 2px solid #e6e6f0;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 320px);
  }
  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: baseline;
    }
    @media screen and (min-width: 1024px) {
      width: calc((100% - 120px) / 2);
      flex-grow: 1;
    }
    &__address {
      font-size: 16px;
      line-height: 20px;
      color: #323264;
      @media screen and (min-width: 768px) {
      }
      &::after {
        content: "";
        display: none;
        @media screen and (min-width: 768px) {
          display: inline-block;
          width: 6px;
          height: 6px;
          font-size: 16px;
          border-radius: 50%;
          margin: 3px 10px;
          background: #b3b3ba;
        }
      }
    }
    &__map {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24a3ff;
      margin-top: 10px;
      text-decoration: none;
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      order: 3;
    }
    &__social {
      transition: all 0.3s linear;
    }
    &__social:hover {
      fill: #f0145a;
    }
    &__phone {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #46466e;
      margin: 10px auto;
      text-decoration: none;
      &::before {
        content: "";
        display: none;
        @media screen and (min-width: 768px) {
          display: inline-block;
          width: 6px;
          height: 6px;
          font-size: 16px;
          border-radius: 50%;
          margin: 3px 10px;
          background: #b3b3ba;
        }
      }
      &::after {
        content: "";
        display: none;
        @media screen and (min-width: 768px) {
          display: inline-block;
          width: 6px;
          height: 6px;
          font-size: 16px;
          border-radius: 50%;
          margin: 3px 10px;
          background: #b3b3ba;
        }
      }
      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }
    &__email {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #24a3ff;
      text-decoration: none;
    }
  }
  &__copyright {
    margin-top: 30px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
    @media screen and (min-width: 1024px) {
      width: calc((100% - 120px) / 2);
      display: flex;
      justify-content: flex-end;
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #b3b3ba;
    }
  }
}
